<section class="container-fluid banner">
    <div class="row pt-2">
      <div class="col-md-5">
        <div class="row nav-left">
          <div class="col-md-4">
            <img src="https://res.cloudinary.com/dwzmsvp7f/image/upload/w_320/Insider_Logo_Inverted_xbyvil.png">
          </div>
          <div class="col-md-3">
            <p>Popular Events</p>
          </div>
          <div class="col-md-3">
            <p>Free Events</p>
          </div>
          <div class="col-md-2">
            <p>Today</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-5">
        <div class="row nav-right mt-1">
          <div class="col-md-3">
            <button>List your events</button>
          </div>
          <div class="col-md-3">
            <button>We are hiring!</button>
          </div>
          <div class="col-md-2">
            <img src="https://insider.in/assets/images/icons/favourites-list-white-medium.png">
          </div>
          <div class="col-md-2">
            <i class="fa fa-search"></i>
          </div>
          <div class="col-md-2">
            <i class="fa fa-user-o"></i>
          </div>
        </div>
      </div>
    </div>
    <div>
      <figure class="text-center"><img
          src="https://res.cloudinary.com/dwzmsvp7f/image/fetch/q_75,f_auto,w_560/https%3A%2F%2Fmedia.insider.in%2Fimage%2Fupload%2Fc_crop%2Cg_custom%2Fv1681392285%2Fpjvefvbgn9nw76btho9o.png"
          class="banner-img"></figure>

    </div>
</section>
<br>