<section class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
             <img src ="https://res.cloudinary.com/dwzmsvp7f/image/upload/w_320/Insider_Logo_Inverted_xbyvil.png">
             <p>Paytm Insider is a platform that helps you discover and buy the best in events, travel and food in your city. We strive to curate experiences that are worth your time and money, possibly something you have never tried before.</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 row">
                <div class="footerLink">
                    <a>About</a> <a>Blog</a>  <a>FAQs</a> <a>Terms Condition</a>  <a> Privacy Policy</a> 
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <i class="fa fa-facebook-official"></i>
                    </div>
                    <div class="col-md-2">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <div class="col-md-2">
                        <i class="fa fa-instagram"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
