<div class="container">
    <h2>Registration Form</h2>
    <form [formGroup]="sampleForm" (ngSubmit)="handleFormData()">

        <div class="mb-3">
            <label  class="form-label">Name </label>
            <input type="text" class="form-control" id="FormControlInput" placeholder="Enter name" formControlName="name" >
            <span class="text-danger" *ngIf="sampleForm.get('name')?.invalid && sampleForm.get('name')?.touched">
                Name is invalid
            </span>
        </div>

    <div class="mb-3">
        <label  class="form-label">Email </label>
        <input type="email" class="form-control" id="FormControlInput" placeholder="name@example.com" formControlName="email">
        <span class="text-danger" *ngIf="sampleForm.get('email')?.invalid && sampleForm.get('email')?.touched">
            Email is invalid
        </span>
    </div>
      <div class="mb-3">
        <label  class="form-label">Age</label>
        <input type="number" class="form-control" id="FormControlInput" placeholder="Enter Age" formControlName="age">
        <span class="text-danger" *ngIf="sampleForm.get('age')?.invalid && sampleForm.get('age')?.touched">
            Age is Invalid        
        </span>
    </div>
      <div class="mb-3">
        <button type="Submit" class="btn btn-primary">Login</button>&nbsp;
        <button type="button" class="btn btn-secondary">Clear</button>
      </div>
    </form>
    </div>
    
