<div class="container">
    <h2>Registration Form</h2>
    <form [formGroup]="sampleForm" (ngSubmit)="handleFormData()">

        <div class="mb-3">
            <label  class="form-label">Email </label>
            <input type="email" class="form-control" id="FormControlInput" placeholder="name@example.com" formControlName="email" >
            <span class="text-danger" *ngIf="sampleForm.get('email')?.invalid && sampleForm.get('email')?.touched">
                Email is invalid
            </span>
        </div>

    <div class="mb-3">
        <label  class="form-label">Password </label>
        <input type="password" class="form-control" id="FormControlInput" placeholder="Enter your Password" formControlName="password">
        <span class="text-danger" *ngIf="sampleForm.get('password')?.invalid && sampleForm.get('password')?.touched">
            Password is invalid
        </span>
    </div>
      <div class="mb-3">
        <button type="Submit" class="btn btn-primary">Login</button>&nbsp;
        <button routerLink="/" routerLinkActive="active" type="Back" class="btn btn-primary">Back</button>
      </div>
    </form>
    </div>
    
