<app-header></app-header> 
<!-- <app-featured-events *ngFor="let featuredEventValues of Event"></app-featured-events> -->
<div class="container mt-5">
    <h5><i class="fa fa-bookmark-o"></i> FEATURED EVENTS</h5>
    <div class="d-flex">
        <br>
        <div *ngFor="let featuredEventValues of Event">
            <app-featured-events [featuredEventValues]="featuredEventValues"></app-featured-events>
        </div>
    </div>
</div>
<div class="container mt-5">
    <h5><i class="fa fa-bookmark-o"></i> FEATURED EVENTS</h5>
    <div class="d-flex">
        <br>
        <div *ngFor="let workShop of work">
            <app-workshop [workShop]="workShop"></app-workshop>
        </div>
    </div>
</div>
<app-footer></app-footer>
